body {
    margin: 0;
}

.header, .main {
    width: 1250px;
    margin: 0 auto;
}

.header {
    padding: 120px 0 100px 0;
    border-bottom: 1px solid #cecdce;
}

.header__title {
    margin: 0;
    font-family: Arial, serif;
    font-size: 50px;
    font-weight: normal;
    text-transform: uppercase;
    color: #434244;
}

.header__subtitle {
    margin: 0;
    font-family: Arial, serif;
    font-size: 27px;
    font-weight: normal;
    color: #434244;
}

.contacts {
    margin: 0;
    padding: 0;
    list-style: none;
}

.contacts__item {
    display: inline-block;
    margin-right: 10px;
    font-family: Arial, serif;
    font-size: 17px;
}

.contacts__link {
    color: #9c9da0;
    text-decoration: none;
}

.header__contacts {
    margin-top: 30px;
}

.main {
    padding: 40px 0 510px 0;
    font-size: 0;
}

.main__left, .main__right {
    display: inline-block;
    vertical-align: top;
}

.main__left {
    width: 425px;
}

.main__right {
    box-sizing: border-box;
    width: 825px;
    padding-left: 73px;
}

.main__avatar {
    margin-bottom: 35px;
}

.personal-info__title {
    display: inline-block;
    margin: 0;
    padding: 9px 40px;
    background-color: #e8c734;
    font-family: Arial, serif;
    font-size: 23px;
    font-weight: bold;
    color: #434244;
}

.personal-info__content {
    margin-top: 35px;
}

.personal-info__text {
    display: block;
    margin: 0;
    padding: 0;
    font-family: Arial, serif;
    font-size: 18px;
    color: #434244;
}

.personal-info__text_bold {
    font-weight: bold;
}

.experience-info_date {
    padding-top: 37px;
    font-size: 19px;
    color: #9c9da0;
}

.experience-info_position {
    padding-top: 27px;
    margin: 0;
    font-size: 19px;
    color: #434244;
}

.experience-info_company {
    margin: 0;
    padding-top: 7px;
    font-size: 20px;
    color: #434244;
}

.experience-info_content {
    padding-top: 27px;
    font-size: 18px;
    color: #8d8d8d;
}

.experience-info_block {
    margin: 0;
    padding: 3px 0 30px 0;
    font-family: Arial, serif;
}

.footer {
    height: 45px;
    background-color: #e8c734;
}