<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>7bits frontend courses workshop weeks 4-5</title>
    <link rel="stylesheet" href="../styles/main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
<div class="main">
    <h1 class="header">Skills</h1>
    <ul class="skills_group">
        <li class="name_skill">
            <p>Communication</p>
            <div class="progress_bar progress_bar_communication"></div>
        </li>
        <li class="name_skill">
            <p>Creativity</p>
            <div class="progress_bar progress_bar_creativity"></div>
        </li>
        <li class="name_skill">
            <p>Teamwork</p>
            <div class="progress_bar progress_bar_teamwork"></div>
        </li>
        <li class="name_skill">
            <p>Organization</p>
            <div class="progress_bar progress_bar_organization"></div>
        </li>
        <li class="name_skill">
            <p>Leadership</p>
            <div class="progress_bar progress_bar_leadership"></div>
        </li>
        <li class="name_skill">
            <p>Teamplayer</p>
            <div class="progress_bar progress_bar_teamplayer"></div>
        </li>
    </ul>
</div>
</body>
</html>