body {
    margin: 0;
}

.main {
    margin: 100px 0 0 108px;
}

.header {
    font-size: 42px;
    letter-spacing: 1.2px;
    color: #1a1a1a;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    background-color: #e8c734;
    width: 222px;
    text-align: center;
    line-height: 82px;
}

.skills_group {
    padding: 0;
    margin: 0;
    list-style: none;
}

.name_skill {
    margin: 30px 0 0 0;
    letter-spacing: 1.8px;
    font-size: 28px;
    color: #1a1a1a;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
}

.progress_bar {
    margin: 10px 0 0 0;
    width: 620px;
    height: 28px;
    border: 2px solid #e7e7e8;
    background-color: #FFFFFF;
    position: relative;
}
.progress_bar::before {
    position: absolute;
    content: '';
    height: 28px;
    background-color: #bfc0c1;
}

.progress_bar_communication:before {
    width: 75%;
}

.progress_bar_creativity:before {
    width: 90%;
}

.progress_bar_teamwork:before {
    width: 70%;
}

.progress_bar_organization:before {
    width: 80%;
}

.progress_bar_leadership:before {
    width: 65%;
}

.progress_bar_teamplayer:before {
    width: 90%;
}